div {
  height: 100px;
  width: 100px;
  background-color: chartreuse;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}
#absolute {
  position: relative;
}
#static #gobaby {
  background-color: cornflowerblue;
  position: static;
  top: 100px;
}
#relative #gobaby {
  background-color: cornflowerblue;
  position: relative;
  top: 50px;
  left: 50px;
}
#absolute #gobaby {
  background-color: cornflowerblue;
  position: absolute;
  top: 10px;
  left: 80px;
}
#fixed #gobaby {
  background-color: cornflowerblue;
  position: fixed;
  top: 0px;
  left: 0px;
}
